[submodule "DiffSep"]
	path = DiffSep
	url = https://github.com/fakufaku/diffusion-separation.git
[submodule "ncsn"]
	path = ncsn
	url = https://github.com/ermongroup/ncsn
[submodule "Sepformer"]
	path = Sepformer
	url = https://github.com/Zhongyang-debug/Attention-Is-All-You-Need-In-Speech-Separation.git
